<%- include('partials/head')%> <%- include('partials/navbar')%>
<body>
  <h1>The home page <%= 4 + 5 + 1%></h1>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa, voluptates!
    Quis eos voluptatum iste officiis iusto natus quaerat, rerum voluptas soluta
    sit. Voluptate, deserunt. Facere a voluptatibus beatae minima eos.
  </p>
</body>
